#top
{
background-color:red;
height:10px;
width:100%;
}
body
{
background-color:white;
}
#container
{
width:70%;
background-color:white;
height:900px;
margin:0px auto;
}
#header
{
height:80px;
background-color:white;
}
#header img
{
height:80px;
}
/*color:#02CF07*/
#header ul
{
float:right;
margin-top:25px;
}
#header ul li
{
display:inline;
margin-right:10px;
}
#header ul li a
{
text-decoration:none;
color:B3080E;
font-size:20px;
}
#banner img
{
width:100%;
height:300px;
}
#content1
{
background-color:violet;
width:32%;
height:250px;
float:left;
margin-right:2%;
margin-top:15px;
margin-bottom:15px;
}
#content2
{
background-color:violet;
width:32%;
height:250px;
float:left;
margin-top:15px;
margin-bottom:15px;
}
#content3
{
background-color:violet;
width:32%;
height:250px;
float:right;
margin-top:15px;
margin-bottom:15px;
}
.hdng
{
color:white;
margin-left:20px;
font-size:25px;
}
.pars
{
color:white;
margin-left:20px;
}
.anc
{
text-decoration:none;
background-color:white;
margin-left:20px;
padding:5px;
}
#div
{
width:70%;
background-color:brown;
}
.anc:hover
{
background-color:green;
color:yellow;
}
#bottom1
{
clear:both;
width:60%;
height:250px;
float:left;
}
#bottom2
{
float:right;
width:40%;
height:250px;
}
.hd
{
color:black;
padding-left:10px;
font-size:35px;
}
.par
{
color:black;
margin-left:20px;
margin-right:8px;
}
.hd2
{
font-size:28px;
margin-left:10px;
}
#bottom2 img
{
width:40%;
height:100px;
margin-left:20px;
margin-right:8px;
}
#bottom2 a
{
background-color:white;
margin-left:20px;
padding:5px;
color:brown;
}
#bottom2 a:hover
{
background-color:green;
color:yellow;
}
#footer
{
clear:both;
background-color:red;
height:55px;
width:100%;
}
#footer ul
{
float:left;
margin-top:15px;
}
#footer ul li
{
display:inline;
margin-right:10px;
}
#footer ul li a
{
text-decoration:none;
color:black;
font-size:20px;
}
#footer p
{
float:right;
padding-right:8px;
}
#footer a:hover
{
color:yellow;
}
